@use Hubcord.css

/** Custom Changes **/

/**Hide Gift Button **/
.channelTextArea-rNsIhG .buttons-3JBrkn .button-38aScr[tabindex="0"]:first-child,
.channelTextArea-rNsIhG .buttons-3JBrkn .buttonWrapper-1ZmCpA + .buttonWrapper-1ZmCpA[tabindex="0"] {
    display: none;
}
.channelTextArea-rNsIhG .buttonContainer-28fw2U .button-38aScr {
    display: block !important;
}

/**Channel Names **/
.channelName-2YrOjO::first-letter{
    text-transform: uppercase;
}

/**Folders **/
.expandedFolderIconWrapper-Huv7rA {
    color: var(--text-normal);
}

/** New Message **/
#---new-messages-bar {
    border-color: var(--background-accent);
    border-style: dotted;
  }

.unreadPillCapStroke-7rkHbg {
    color: var(--background-accent);
    fill: var(--background-accent);
}

.unreadPill-2HyYtt {
    background-color: var(--background-accent);
}

/**Selected Server **/
.item-2hkk8m {
    background-color: var(--background-accent);
}

/** Selected DM text **/
.selected-aXhQR6.container-2Pjhx- {
    color: var(--text-normal);
}
.body-3iLsc4 {
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}
#private-channels [href="/discovery"] {
    display: none
}
/* 

/** Role Backgrounds in Memberslist **/
span.roleColor-rz2vM0::after {
    content: "";
    background: currentColor;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.11;
    left: 0;
    top: 0;
}

/** Custom URL colors **/
[href*="youtu.be"],
[href*="youtube.com"] {
    color: #C4302B !important;
    font-weight: 700;
}

[href*="twitch.tv"] {
    color: #B700FF !important;
    font-weight: 700;
}

[href*="spotify.com"] {
    color:rgb(19, 185, 4) !important; 
    font-weight: 700;
}

[href*="discord.com/channels/"] {
    color: #5865F2 !important;
}

[href*="discord.com/channels/"]::before {
    content:'Jump to Message : ';
    font-size:16px;
    font-weight:700;
    color: #5865F2;
}

[href*="reddit.com"] {
    color: #FF4500 !important; 
    font-weight: 700;
}

[href*="twitter.com/"]{
    color: #00ACEE !important;
    font-weight: 700;
}

[href*="discord.com/"],
[href*="discord.gg/"],
[href*="discordapp.com/"] {
    color:#5865F2 !important;
    font-weight: 700;
}

[href*="github.com"] {
    color: #00F0A8 !important;
    font-weight: 700;
}

[href*="vizality.com"]{
    color: #FF006A !important;
    font-weight: 700;
}

/** Role Indicator **/
.avatar-3uk_u9 .wrapper-3t9DeA rect { /**Removes indicator **/
    display: none;
  }

.wrapper-3t9DeA rect.pointerEvents-2zdfdO[mask="url(#svg-mask-status-online)"]:not([fill="#ffffff"]) {
    display: none;
}

/** User Popout Status Buttons **/
.theme-dark .contentImagesUserPopout-1vLdRA::after { /**Background **/
    background: var(--background-secondary);
}

.theme-dark .activityUserPopout-2yItg2 .button-38aScr { /**Button **/
    background: var(--background-primary);
    color: #FFF;
    box-shadow: none;
  }

.topSectionPlaying-1J5E4n .activityProfile-2bJRaP {
    background: var(--background-secondary);
    box-shadow: none;
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV, .theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
    background: var(--background-primary);
    color: #FFF;
    box-shadow: none;
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background: var(--background-secondary);
}
/** Hides Textbox when you don't have permission to talk in the channel **/
.channelTextAreaDisabled-8rmlrp > div {
    display: none
  }

/** Hides Blocked messages in the channel **/
div[class^="container-"]{ min-height: 0; }
div[class^="blockedSystemMessage-"], div[class*="blockedSystemMessage-"] { 
    
    display: none; 
}

div[class^="groupStart-"], div[class^="da-groupStart"] {
    display: none;
}

/** Full color emoji **/
:root .sprite-2iCowe {
    -webkit-filter: var(--colored-emoji) !important;
    filter: var(--colored-emoji) !important;
}

/** Larger message Emoji **/
.messageContent-2qWWxC .emoji {
  width: var(--emoji-size);
  height: var(--emoji-size);
}