@use "addons.scss";

:root {
    --accent: #FFA31A;
    --colored-emoji: grayscale(0%);
    --home-image: url('https://i.imgur.com/d1tM7Ns.gif');
    --emoji-size: 3rem;
    --message-padding: 10px;
    --message-spacing: 10px;
    --edit-message-box: var(--background-tertiary);
    --message-background: var(--background-tertiary);

    // Other Variables
    --interactive-active: var(--text-normal);
    --text-link: #fff;
    --interactive-normal: var(--accent);
    --brand-experiment: var(--accent);
}

:root.theme-dark {
    --background-tertiary: #191919;
    --background-secondary: #1B1B1B;
    --background-secondary-alt: #252525;
    --background-primary: #252525;
    --background-mobile-primary: #000000;
    --background-mobile-secondary: #000000;
    --channeltextarea-background: #191919;
    --background-accent: #FFA31A;
    --background-message-hover: transparent;
    --background-modifier-hover: #252525;
    --background-modifier-active: #252525;
    --background-modifier-selected: #252525;
    --deprecated-card-bg: #000000;
    --background-floating: #000000;
    --deprecated-quickswitcher-input-background:#000000;
    --elevation-low: none;
    --scrollbar-auto-thumb: #000000;
    --scrollbar-auto-track: #000000;
    --scrollbar-thin-thumb: #000000;
    --toast-background: #000000 !important;
    --toast-header: #000000 !important;
    --toast-contents: #000000 !important;
    --activity-card-background: #000000;
}

//Search Bar
.searchBar-3dMhjb {
    background-color:#000000;
}

//Stroke to Selected Button
.selected-1GqIat .icon-22AiRD {
    color: #191919;
    background-color: #FFA31A;
    border-radius: 5px;
}

//Members List
.membersWrap-2h-GB4 .members-1998pB {
  height: 97.5%;
  border-radius: 10px;
}

//Button Hover
.button-3AYNKb:hover {
  color: var(--background-secondary);
}

.clickable-3rdHwn .icon-22AiRD:hover {
  color: var(--background-secondary);
}

// Search bar
:root .container-1r6BKw.themed-ANHk51 .search-36MZv- {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 4px;
  }
  :root .container-1r6BKw.themed-ANHk51 .search-36MZv- .search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
    width: 27px;
    -webkit-transition: 250ms;
    transition: 250ms;
    background-color: transparent;
  }
  :root .container-1r6BKw.themed-ANHk51 .search-36MZv- .search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb .iconContainer-O4O2CN {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  :root .container-1r6BKw.themed-ANHk51 .search-36MZv- .search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb .iconContainer-O4O2CN .icon-3cZ1F_ {
    color: var(--interactive-normal);
  }
  :root .container-1r6BKw.themed-ANHk51 .search-36MZv- .search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb {
    width: 240px;
    background-color: var(--background-tertiary);
  }
  :root .container-1r6BKw.themed-ANHk51 .search-36MZv- .search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb .iconContainer-O4O2CN {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  :root .container-1r6BKw.themed-ANHk51 .search-36MZv- .search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb .iconContainer-O4O2CN .icon-3cZ1F_ {
    color: var(--text-muted);
  }
  :root .container-1r6BKw.themed-ANHk51 .search-36MZv- .searchAnswer-3Dz2-q, :root .container-1r6BKw.themed-ANHk51 .search-36MZv- .searchFilter-2ESiM3 {
    background-color: var(--background-primary);
  } 

//Search Options
.container-3ayLPN {
  background-color: #191919 !important;
}

//Home Image
  div[data-list-item-id="guildsnav___home"] {
	background: var(--home-image) top center/95% no-repeat;
}
#app-mount [data-list-item-id="guildsnav___home"]>div {
	color: transparent;
	background-color: transparent;
}

.listItemWrapper-KhRmzM foreignObject {
    mask: none;
    border-radius: 10px;
}

//User Container
.container-1r6BKw.themed-ANHk51{
  width: calc(100% - 240px);
}
.panels-j1Uci_>.container-3baos1{
  position: fixed;
  top: 23px;
  right: 0;
  width: 220px;
  height: 47.988px;
}
.platform-win .panels-j1Uci_>.container-3baos1{
  top: 23px;
}
.container-1r6BKw.themed-ANHk51{
  padding-right: 0;
}
.panels-j1Uci_>.container-3baos1{
  padding-left: 0;
}

/* No scrollbars */
::-webkit-scrollbar { display: none !important;}.note-3HfJZ5 { margin-right: 0; }.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;} .scroller-2hZ97C { padding-left: 0;}.scroller-2hZ97C > .content-3YMskv, .buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }.inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}

//Chat buttons
.container-1giJp5:hover .actionButtons-14eAc_ {
  height: 36px;
  opacity: 1;
}

.container-1giJp5 .actionButtons-14eAc_ {
  height: 0px;
  opacity: 0;
  transition: all 0.25s ease-out;
}

//PFP Stuff
.wrapper-3t9DeA > svg > foreignObject {
  mask: none;
  border-radius: 5px;
}

.avatar-1BDn8e {
  border-radius: 5px;
}

.wrapper-25eVIn > svg > foreignObject {
  mask: none;
  border-radius: 5px;
}

.wrapperSimple-19ogV2{
  border-radius: 5px;
}

.folderIconWrapper-1_bOZe {
  border-radius: 5px;
  background-color: #252525 !important;
}

// Mentions & Chat jumps
  .wrapper-3WhCwL {
    background: var(--accent);
    color: var(--accent);
    &:hover, &.popout-open {
      background: var(--accent);
      color: #fff;
    }
  }

// Message placeholders
  .wrapper-3vR61M {
    background: transparent;
  }

//Discord Watermark
  .typeWindows-1za-n7 > .wordmark-2iDDfm > svg {
    display: none;
  }

//Background Popout
.avatar-37jOim {
  background: none;
  border: none;
}

//Friends list
.peopleColumn-29fq28 {
  background: var(--background-primary);
}

//Code block
.markup-2BOw-j code.inline {
  color: var(--text-normal);
  padding: 0 0 0 0;
}

//Memberslist Hover
.item-1tOPte:hover {
  background-color: #000000;
}

//Selected DM
.layout-2DM8Md {
  border-radius: 6px 0px 0px 0px;
}

//Media Stuff
.fakeEdges-27pgtp::before {
  background-color: #FFA31A;
  }

.mediaBarProgress-1xaPtl {
  background-color: #FFA31A;
  }

.fakeEdges-27pgtp:after {
background-color: #FFA31A;
}

.anchor-3Z-8Bb {
  color: #FFF !important;
}

//Messages Stuff
.newMessagesBar-265mhP.barBase-1c2Rfb {
  background-color: #FFA31A;
  border-radius: 5px;
}
.barButtonBase-2uLO1z {
  color: #000;
}

//Call Stuff
.callAvatarMask-1SL1Ri foreignObject {
  mask: none;
  border-radius: 10px;
}

//Thread Stuff
.container-3JKcAb>.containerDefault--pIXnN .content-1x5b-n {
  padding-left: 35px;
}
.spine--Wla_O {
  left: 18px;
  color: var(--text-muted);
}